body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

header {
    background: url("Pictures/spacex_home_background.jpg") no-repeat center center/cover;
    color: white;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.section-header h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 2em; /* Match the size with the style of your intro header */
    margin-top: 20px;
    margin-bottom: 20px;
}


.header-content h1 {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Makes the font weight bold */
    margin: 0;
}

.header-content p {
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

#intro_home {
    display: flex;
    align-items: center;
    justify-content: center; /* Changed to center the content horizontally */
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align children horizontally */
    max-width: 800px; /* Or any max-width you prefer */
    margin: 0 auto; /* This will center the .container itself within #intro_home */
}

.intro-text {
    padding: 20px;
    text-align: center; /* Center-align the text within .intro-text */
}

.intro-image img {
    max-width: 100%;
    height: auto;
}


#projects .project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.project.left .project-info { 
    order: 2; /* Will place the info on the right */
}

.project.right .project-info { 
    order: 1; /* Will place the info on the left */
}

.project-image img {
    width: 48%; /* Adjust based on preference */
    height: auto;
}

.project-info {
    width: 48%; /* Adjust based on preference */
    padding: 10px;
}





@media (max-width: 768px) {
    #projects .project {
        flex-direction: column;
    }

    .project-image img, .project-info {
        width: 100%;
        order: unset; /* Removes the order set for larger screens */
    }
}


footer {
    background-color: #333; /* Dark background for footer */
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; /* Center align footer content */
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.footer-links {
    margin-bottom: 10px; /* Space above the lower level text */
}

.footer-bottom {
    font-size: 0.8em; /* Smaller font size for copyright text */
    color: #58bcff;
}


footer a {
    color: #ffffff; /* Color for the links */
    text-decoration: none;
    margin: 0 10px; /* Spacing between links */
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    footer .footer-content,
    .footer-links {
        flex-direction: column;
        text-align: center;
    }

    footer a {
        margin-bottom: 10px;
    }
}

.bottom-links {
    text-align: center;
    padding: 40px;
    background-color: #ffffff; /* Light grey background or any color you prefer */
    margin-bottom: 20px; /* Space above the footer */
}

.button {
    display: inline-block;
    padding: 15px 30px; /* Increased padding for larger buttons */
    margin: 0 60px; /* Increased margin to space out the buttons */
    background-color: #007bff; /* Example color */
    color: #ffffff ;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em; /* Larger font size for the text inside the buttons */
    transition: background-color 0.3s ease;
    border-radius: 5px; /* Optional: adds rounded corners */
}
.button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}



.page-header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2em; /* Adjust size to match the homepage header */
    /* Add any additional styling that matches the homepage header */
}

.download-button-container {
    text-align: center;
    padding: 20px;
}

.button {
    padding: 15px 30px; /* Adjust to match the size of the buttons on the homepage */
    font-size: 1.2em; /* Adjust to match the styling on the homepage */
    /* Add any additional button styling here */
}

.resume-image-container img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}



.project-intro {
    text-align: center;
    margin: 20px;
    font-size: 1.2em; /* Adjust font size as needed */
}

#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Creates a responsive grid */
    gap: 20px; /* Adjust gap size as needed */
    padding: 20px;
}

.project-item {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.project-item img {
    width: 100%;
    height: auto;
    display: block;
}

.project-title {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Translucent overlay */
    color: white;
    padding: 5px 0; /* Adjust padding as needed */
}


.container-for-page-intro {
    display: flex;
    justify-content: center; /* Horizontally centers the child elements */
    height: 100vh; /* Adjust the height as needed */
}


/* Add to style.css */

#project-detail {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

#project-description {
    flex: 3;
    padding: 20px;
    text-align: justify;
}

#project-images {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#project-images img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc; /* Adds a border to the image */
}

/* Ensures the description and images stack on smaller screens */
@media (max-width: 768px) {
    #project-detail {
        flex-direction: column;
    }

    #project-description, #project-images {
        flex: unset;
    }
}


/* Add to your style.css file */

/* This ensures that images never exceed the width of their container */
img {
    max-width: 100%;
    height: auto;
    display: block; /* This will remove any extra space below the image */
}

/* If you want to set a specific max-width for all images on project detail pages */
#project-images img {
    max-width: 600px; /* Example max-width */
}

/* If you want the project images to scale more precisely based on screen size */
@media (max-width: 768px) { /* For tablets */
    #project-images img {
        max-width: 500px;
    }
}

@media (max-width: 480px) { /* For mobile phones */
    #project-images img {
        max-width: 300px;
    }
}

/* Add or modify in style.css */


.project-item {
    position: relative;
    overflow: hidden;
    margin: 10px; /* Adds margin around each project item */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    padding-top: 100%; /* This creates a square aspect ratio */
}

.project-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}



.project-item:hover img {
    transform: scale(1.05); /* Slightly enlarges the image on hover for a subtle effect */
}

.project-title {
    position: absolute;
    bottom: 0;
    width: 100%; /* Ensures the title spans the entire width of the item */
    background-color: rgba(0,0,0,0.7); /* Dark overlay for the text */
    color: white;
    text-align: center;
    padding: 10px 0; /* Adds some spacing inside the title bar */
}

/* For the grid layout */
#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 400px)); /* Adjusts the number of columns based on screen width */
    gap: 20px; /* Space between items */
    padding: 20px; /* Space around the entire grid */
}

@media (max-width: 768px) {
    /* Adjustments for smaller screens */
    .project-item {
        margin: 5px; /* Smaller margin for smaller screens */
    }
    .project-item img {
        min-height: 150px; /* Smaller minimum height for smaller screens */
    }
}
  